
<div class="registerTask">

  <div class="createTask" >
    <input type="text" name="titulo"  [(ngModel)]="titulo" required>
    <button (click)="saveTask()" class="btn btn-primary"> <i class="fas fa-plus-circle"></i></button>
  </div>
<table class="table">
  <thead class="table table-striped">
    <tr>
      <th>Title</th>
      <th>Completar</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tarefa of tarefas">
      <td>{{tarefa.titulo}}</td>
      <td class="change">
          <button [(ngModel)]="tarefa.completo"  (click)="changeOption()" class="btn btn-success"  ngDefaultControl>Sim</button>
          <button [(ngModel)]="tarefa.completo"  (click)="changeOption()" class="btn btn-warning"  ngDefaultControl>Não</button>
      </td>
      <td  class="actions">
          <button (click)="remove(tarefa)"><i class="fas fa-trash"></i> </button>
          <button (click)="update(tarefa)"><i class="fas fa-edit"></i></button> </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="respModal == true">
    <app-update-modal  ></app-update-modal>
  </div>
</div>

