app-login {position: absolute;
width: 365px;

.login {

    width: 162%;
    .form-group {
        
    background-color: #22a3ffc9;
label {
    
    color: white;
    font-family: sans-serif;

}
    }
}
}