<div *ngIf="logado "class="navbar navbar-dark bg-dark">
        <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active">login<span class="sr-only">(current)</span></a>
        </li>
    <li class="nav-link">
        <a class="nav-link" [routerLink]="['/cadastrousuario']" routerLinkActive="router-link-active">Cadatro de Usuario <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-link">
        <a class="nav-link"[routerLink]="['/cadastrotarefa']" >Cadastro de Tarefa</a>
    </li>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
